<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>ArsenShop</title>
</head>
<body>
<h1>ArsenShop</h1>
<div>
    <p><b>Название:</b> <span th:text="${product.title}"></span></p>
    <p><b>Описание:</b> <span th:text="${product.description}"></span></p>
    <p><b>Цена:</b> <span th:text="${product.price}"></span> руб.</p>
    <p><b>Город:</b> <span th:text="${product.city}"></span></p>
    <p><b>Компания:</b> <span th:text="${product.author}"></span></p>
</div>

<a th:href="@{/}">Назад к списку товаров</a>

<!-- Форма для создания нового товара -->
<form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
    <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>
