<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>ArsenShop</title>
</head>
<body>
<h1>ArsenShop</h1>
<hr>
<h4>Торговая площадка</h4>
<form action="/" method="get">
    Поиск по названию объявлений <input type="text" name="title"/>
    <input type="submit" value="Поиск"/>
</form>

<!-- Отображение товаров с использованием JSTL -->
<div>
    <c:choose>
        <c:when test="${not empty products}">
            <c:forEach var="product" items="${products}">
                <p><b>${product.title}</b> ${product.price} руб. |
                    <a href="/product/${product.id}">Подробнее...</a>
                </p>
            </c:forEach>
        </c:when>
        <c:otherwise>
            <p>Товаров нет</p>
        </c:otherwise>
    </c:choose>
</div>

<hr>
<h3>Создать новый товар</h3>

<form action="/product/create" method="post">
    <!-- CSRF-токен для безопасности -->
    Название объявления: <input type="text" name="title"/><br><br>
    Описание объявления: <input type="text" name="description"/><br><br>
    Цена: <input type="number" name="price"/><br><br>
    Город: <input type="text" name="city"/><br><br>
    Компания: <input type="text" name="author"/><br><br>
    <input type="submit" value="Добавить товар"/>
</form>

</body>
</html>
